{% include 'header.html' %}
	<tr>
		<td colspan="7">
		<table border=0 width=700 align=left cellspacing=1 cellpadding=2 class="bgblau04">
			<tr>
				<td class="txtweiss15"><b>gnuu::adm::adduser</b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td colspan="7">
			<form action="/cgi-bin/adduser.cgi" method="POST">
				<table border=0 width=600 cellspacing=1 cellpadding=2 class="bgdarkgray">
					<tr class="bggray">
						<td class="txt10">Site:</td>
						<td class="txt10" colspan=2><input type="text" name="site" size="20" maxlenght="64" value="{{ site }}"> </td>
					</tr>
					<tr class="bggray">
						<td class="txt10">Password:</td>
						<td class="txt10" colspan=2><input type="text" name="password" size="20" maxlenght="64" value="{{ password }}"> </td>
					</tr>
					<tr class="bggray">
						<td class="txt10">Mailaddress:</td><td class="txt10" colspan=2><input type="text" name="email" size="20" maxlenght="64" value="{{ email }}"></td>
					</tr>
					<tr class="bggray">
						<td class="txt10">Passwordquestion:</td>
						<td class="txt10" colspan=2><input type="text" name="pwquestion" size="20" maxlenght="64" value="{{ pwquestion }}"></td>
					</tr>
					<tr class="bggray">
						<td class="txt10">Passwordanswer:</td>
						<td class="txt10" colspan=2><input type="text" name="pwanswer" size="20" maxlenght="64" value="{{ pwanswer }}"></td>
					</tr>
					<tr class="bggray">
						<td class="txt10">Checkfield:</td>
						<td class="txt10" colspan=2><input type="text" name="hcheck" size="20" maxlenght="64" value="{{ hcheck }}"></td>
					</tr>
					<tr class="bggray">
						<td class="txt10">
							<div class="txtrot11">{{ msg }}</div>
							<div class="msg">Checkfield: {{ checkfield }}</div>
						</td>
						<td><input type="hidden" name="checkfield" value="{{ checkfield }}"></td>
					<tr class="bggray">
						<td><input type="hidden" name="site" value="{{ site }}"></td>
						<td><input type="submit" value="Submit" width=100><br>
						</td>
					</tr>
			</table>
			</form>

		</td>
	</tr>
	<tr>
		<td colspan=7>
		<table border=0 width=700 align=left cellspacing=1 cellpadding=2 class="bgblau04">
			<tr>
				<td class="txtweiss9">&copy; Frank Kl&ouml;ker &lt;eumel (at) admin.gnuu.de&gt;</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</body>
</html>
