{% include 'header.html' %}
	<tr>
		<td colspan="7">
		<table border=0 width=700 align=left cellspacing=1 cellpadding=2 class="bgblau04">
			<tr>
				<td class="txtweiss15"><b>gnuu::adm::login</b></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td colspan="7">
			<form action="/adm/login.cgi" method="POST">

			<table border=0>
			<tr>
				<td class="txtblack14">Site: </td>
				<td class="txtblack14">
					<input type="text" name="username" size="30" maxlenght="64">
				</td>
			</tr>
			<tr>
				<td class="txtblack14">Passwort: </td>
				<td class="txtblack14">
					<input type="password" name="password" size="30" maxlenght="64">
				</td>
			</tr>
			<tr>
				<td class="txtblack14">&nbsp;
					<input type="hidden" name="recheck" value="leer">
				</td>
				<td class="txtblack14">
					<input type="submit" value="Login" width="100">&nbsp;&nbsp;<br>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="txtblack14">&nbsp;
					<div class="msg">{{ msg }}</div>
					<input type="hidden" name="recheck" value="leer">
				</td>
			</tr>
			</table>
			</form>

		</td>
	</tr>
	<tr>
		<td colspan=7>
		<table border=0 width=700 align=left cellspacing=1 cellpadding=2 class="bgblau04">
			<tr>
				<td class="txtweiss9">&copy; Frank Kl&ouml;ker &lt;eumel (at) admin.gnuu.de&gt;</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</body>
</html>
